node_modules/
.edge_profile/
.chrome_profile/
dump.html
err.txt
strumyk_page.html
strumyk_text.txt
strumyk_live_text.txt
strumyk_live_html.html
strumyk_body.html
strumyk_matches.txt
strumyk_matches.html
parsed_events.json
sports_schedule.json
filtered_schedule.json
test.js
test_whatsapp.js
fetch_pure.js
fetch_strumyk.js
parse_events.js
scraper.js
sync_engine.js
